package.json
node_modules/.package-lock.json
node_modules/i/LICENSE
node_modules/i/package.json
node_modules/i/README.md
node_modules/i/.github/dependabot.yml
node_modules/i/.github/workflows/ci.yml
node_modules/i/lib/defaults.js
node_modules/i/lib/inflect.js
node_modules/i/lib/inflections.js
node_modules/i/lib/methods.js
node_modules/i/lib/native.js
node_modules/i/lib/util.js
node_modules/i/test/inflector/cases.js
node_modules/i/test/inflector/inflections-test.js
node_modules/i/test/inflector/methods-test.js
node_modules/i/test/utils/array-test.js
node_modules/i/test/utils/string-test.js
