@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Montserrat Alternates", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Lato", sans-serif;
}

input[type="date"]::-webkit-datetime-edit {
    opacity: 0.5;
}

.rounded-4xl {
    border-radius: 2.5rem;
}

.rounded-t-4xl {
    border-top-left-radius: 2.5rem /* 24px */;
    border-top-right-radius: 2.5rem /* 24px */;
}

.slide {
    height: 100vh !important;
}

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-pop-in {
    animation: pop-in 0.3s ease-out;
}
